* {
    box-sizing: border-box;
}
.nav_img{
    margin-right: 5px;
}
.nav-link{
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
.nav-link:hover{
    color: #ffffff;
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    transition: border .3s;
    transition: color .3s;
}
