$body-color: #000000;
* {
  box-sizing: border-box;
}
body {
  color: $body-color;
  font-family: sans-serif;
}

//film
.film-wrapper {
  margin-top: 10px;
  
}
.film-one {
  margin-bottom: 10px;
  box-shadow: 0 0 5px 0px #000000;
  border-radius: 5px 5px 0 0;
}

.film-name {
  width: 100%;
  height: 45px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .name {
    margin-left: 5px;
  }
  .film-btn {
    margin-right: 5px;
  }
}

.film-card {
  display: flex;
  flex-direction: row;
}

.film-info {
  margin: 5px 5px 5px 5px;
  p {
    margin: 0 0 5px 0;
    font-size: 13px;
  }
}

//filt create
.film-create-wrapper{
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  opacity: 0;
  margin-top: -10px;
  padding: 0;
}

.film-create {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px 0px #000000;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  background-color: #ffffff;
}
.film-create-inputs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  div{
    width: 35%;
    margin: 0 0 10px 0;
  }
  p{
    margin: 0;
  }
}

.film-genre-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.film-genre-div {
  display: flex;
  flex-direction: column;
}
.film-genre-input {
  margin-right: 5px;
}
.film-create-description {
  width: 100%;
}
.film-create-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  .film-create-btn{
    margin-left: 5px;
  }
}
.film-create-btn-open{
  margin-bottom: 10px;
}