@import './movie.scss';

$body-color: #000000;
* {
	box-sizing: border-box;
}
body {
	color: $body-color;
	font-family: sans-serif;
}

//search
.film-search {
	padding: 0 10px 0 0;
}
.film-search-input {
	width: 100%;
}
@media screen and (max-width: 991px) {
	.film-search {
		padding: 0;
	}
}
@media screen and (max-width: 757px) {
	.film-search {
		padding: 0;
	}
}
@media screen and (max-width: 500px) {
	.film-card {
		display: flex;
		flex-direction: column;
	}
	.img {
		width: 100%;
		height: auto;
	}
	.change-btn {
		font-size: 13px;
		padding: 0;
	}
	.delete-btn {
		font-size: 13px;
		padding: 0;
	}
	.name {
		font-size: 16px;
	}
	.film-search {
		padding: 0;
	}
	.list-group-item {
		padding: 0;
	}
}

@media screen and (max-width: 320px) {
	.film-card {
		display: flex;
		flex-direction: column;
	}
	.img {
		width: 100%;
		height: auto;
	}
	.change-btn {
		font-size: 10px;
		padding: 0;
	}
	.delete-btn {
		font-size: 10px;
		padding: 0;
	}
	.name {
		font-size: 12px;
	}
	.film-search {
		padding: 0;
	}
	.list-group-item {
		padding: 0;
		font-size: 13px;
	}
}
