$body-color: #000000;
* {
  box-sizing: border-box;
}
body {
  color: $body-color;
  font-family: sans-serif;
}

//film
.film-wrapper{
  margin-top: 10px;
}
.film-one{
  margin-bottom: 10px;
  box-shadow: 0 0 5px 0px #000000;
  border-radius: 5px 5px 0 0;
}

.film-name{
  width: 100%;
  height: 45px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .name{
    margin-left: 5px;
  }
  .film-btn{
    margin-right: 5px;
  }
}

.film-card{
  display: flex;
  flex-direction: row;
}

.film-info{
  margin: 5px 5px 5px 5px;
  p{
    margin: 0 0 5px 0;
    font-size: 13px;
  }
}

//filt create
.film-create{
  margin-bottom: 10px;
  box-shadow: 0 0 5px 0px #000000;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  display: none;
  p{
    margin: 15px 0 3px 0;
  }
  .first-child{
    margin-top: 0;
  }
}

.film-create-collapse{
  position: absolute;
  right: -15px;
  top: 0;
}
.film-create-collapse:hover{
  cursor: pointer;
}
.film-genre-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.film-genre-div{
  display: flex;
  flex-direction: column;
}
.film-genre-input{
  margin-right: 5px;
}
.film-create-description{
  width: 100%;
}
.film-create-btn-wrapper {
 display: flex;
 justify-content: flex-end;
}