$body-color: #000000;

body {
  color: $body-color;
  font-family: sans-serif;
}

//film
.film-wrapper{
  margin-top: 10px;
}
.film-one{
  margin-bottom: 10px;
  box-shadow: 0 0 5px 0px #000000;
  border-radius: 5px 5px 0 0;

}
.film-name{
  background-color: #000000;
  color: #ffffff;
  padding: 10px 0px 10px 10px;
  border-radius: 5px 5px 0 0;
}

.film-card{
  display: flex;
  flex-direction: row;
}
.film-info{
  p{
    margin: 0 0 5px 5px;
    font-size: 14px;
  }
}